* {
  align-content: center;
  text-align: center;
}
/* .pagehead {
  color: turquoise;
} */
img {
  width: 33%;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav ul {
  display: flex;
  padding-top: 20px;
  /* border: 2px solid red; */
  justify-content: space-around
}

nav ul li {
  list-style-type: none; 
  
  flex-direction: row;

}

nav ul li a{
  display: inline-block;
  font-size: 30px;
}
